@model WebUI.Models.PageViewModel

<div id="book" class="item">
    <h3>ID - @Model.BookViewModels.FirstOrDefault().BookId</h3>
    <p>Name - @Model.BookViewModels.FirstOrDefault().Name</p>
    <p>Description - @Model.BookViewModels.FirstOrDefault().Description</p>
    <p>ISBN - @Model.BookViewModels.FirstOrDefault().Isbn</p>
    <p>Date - @Model.BookViewModels.FirstOrDefault().PublicationDate.Date</p>
    <img width="300" height="300" src="@Model.BookViewModels.FirstOrDefault().ImageUrl" />
    <p>Authors:</p>
    <ul>
        @foreach (var author in Model.BookViewModels.FirstOrDefault().Authors)
        {
            <li>@Html.ActionLink(author.Name + " " + author.Surname, "Author/" + author.AuthorId, "Authors")</li>
        }
    </ul>
    <p>Genres:</p>
    <ul>
        @foreach (var genre in Model.BookViewModels.FirstOrDefault().Genres)
        {
            <li>@Html.ActionLink(genre.Name, "Genre/" + genre.GenreId, "Genres")</li>
        }
    </ul>
    <div class="statistics">
        @Model.PageStatistics
    </div>
    <main>@Model.BookViewModels.FirstOrDefault().Text</main>

</div>

