@model IEnumerable<WebUI.Models.BookViewModel>
@{
    ViewBag.Title = "Books";
}
<div class="createnew">
    @Html.ActionLink("Create New", "Create")
</div>
<div>@Html.ActionLink("Fill With Fake Books", "Fill")</div>
<div class="filters">
    @using (Html.BeginForm("Search", "Books", FormMethod.Post))
    {
        <table class="filter">
            <tr>
                <th>by book name</th>
                <th>by author name</th>
                <th>by genre</th>
                <th>by year</th>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("BookName")
                </td>
                <td>
                    @Html.TextBox("AuthorName")
                </td>
                <td>
                    @Html.TextBox("Genre")
                </td>
                <td>
                    @Html.TextBox("Date")
                </td>
                <td>
                    <input type="submit" value="Search" />
                </td>
            </tr>
        </table>
        <p></p>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

    @{ 
        long start = 0;
        long end = 0;
        if (ViewBag.PageNumber == 1)
        {
            start = 1;
            end = ViewBag.PageSize;
        } 
        else
        {
            start = (ViewBag.PageNumber - 1) * ViewBag.PageSize;
            end = ViewBag.PageNumber * ViewBag.PageSize;
        }
        var items = Model.Where(b => b.BookId >= start & b.BookId <= end);
        foreach (var item in items)
        {
            <tr id="book">
                <td>
                    @Html.DisplayFor(modelItem => item.BookId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit/" + item.BookId) |
                    @Html.ActionLink("Details", "Book/" + item.BookId) |
                    @Html.ActionLink("Delete", "Delete/" + item.BookId)
                </td>
            </tr>
        }
        }
</table>
<div class="btn-group">
    @if (ViewBag.PageNumber > 1)
    {
        @Html.RouteLink("<<", "Books", new { controller = "Books", action = "Books", id = 1 }, new { @class = "btn btn-default" })
        @Html.RouteLink("<", "Books", new { controller = "Books", action = "Books", id = ViewBag.PageNumber - 1 }, new { @class = "btn btn-default" })
    }
    @if (ViewBag.PageNumber < Math.Abs(ViewBag.ObjectsCount / ViewBag.PageSize) + 1)
    {
        @Html.RouteLink(">", "Books", new { controller = "Books", action = "Books", id = ViewBag.PageNumber + 1 }, new { @class = "btn btn-default" })
        @Html.RouteLink(">>", "Books", new { controller = "Books", action = "Books", id = Math.Abs(ViewBag.ObjectsCount / ViewBag.PageSize) + 1 }, new { @class = "btn btn-default" })
    }

</div>
