@using WebUI.Models
@model WebUI.Models.PageViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit - @Model.BookViewModels.FirstOrDefault().Name</h2>
@using (Html.BeginForm("Edit", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="item">
        @Html.LabelFor(model => model.BookViewModels.FirstOrDefault().BookId)
        @Html.DisplayFor(model => model.BookViewModels.FirstOrDefault().BookId)
        @Html.HiddenFor(model => model.BookViewModels.FirstOrDefault().BookId)
    </div>
    <div class="item">
        @Html.LabelFor(model => model.BookViewModels.FirstOrDefault().Name)
        @Html.EditorFor(model => model.BookViewModels.FirstOrDefault().Name)
        @Html.ValidationMessageFor(model => model.BookViewModels.FirstOrDefault().Name)
    </div>
    <div class="item">
        @Html.LabelFor(model => model.BookViewModels.FirstOrDefault().Description)
        @Html.EditorFor(model => model.BookViewModels.FirstOrDefault().Description)
        @Html.ValidationMessageFor(model => model.BookViewModels.FirstOrDefault().Description)
    </div>
    <div class="item">
        @Html.LabelFor(model => model.BookViewModels.FirstOrDefault().Isbn)
        @Html.EditorFor(model => model.BookViewModels.FirstOrDefault().Isbn)
        @Html.ValidationMessageFor(model => model.BookViewModels.FirstOrDefault().Isbn)
    </div>
    <div class="item">
        @Html.LabelFor(model => model.BookViewModels.FirstOrDefault().PublicationDate) "dd.mm.yyyy"
        @Html.EditorFor(model => model.BookViewModels.FirstOrDefault().PublicationDate)
        @Html.ValidationMessageFor(model => model.BookViewModels.FirstOrDefault().PublicationDate)
    </div>
    <div class="item" id="Authors" onchange="showAuthor()">
        Select Author:
        @Html.DropDownList("AuthorId", (Model.AuthorViewModels as List<AuthorViewModel>)
        .Select(
            author => new SelectListItem { Text = author.Name + " " + author.Surname, Value = author.AuthorId.ToString() }
            )
        )
        @*@Html.ValidationMessageFor(model => model.BookViewModels.FirstOrDefault().Authors)*@
    </div>
    <div class="item">
        Select Genre:
        @Html.DropDownList("GenreId", (Model.GenreViewModels as List<GenreViewModel>)
        .Select(
            genre => new SelectListItem { Text = genre.Name, Value = genre.GenreId.ToString() }
            )
        )
        @*@Html.ValidationMessageFor(model => model.BookViewModels.FirstOrDefault().Genres)*@
    </div>
    <div class="upload">
        Upload image:
        <input type="file" name="imageFile" />
    </div>
    <div class="upload">
        Upload text:
        <input type="file" name="textFile" />
    </div>
    <p> </p>
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel", "Books")
}

<script>
    function showAuthor() {
        let authorsSelect = $('#Authors');
        
    }
</script>
